.Community_Body {
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
}
.Community_Home {
    text-align: center;
    background-color: #8283a7;
}
.Community_Logo_Img {
    padding-top: 5rem;
}
.Community_Title {
    margin: 0;
    padding-top: 2.3rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #8283a7;
    border-bottom: 1px solid #707070;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
.Title.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #8283a7;
}

/* Nav_1 => 공지사항, 자유게시판 */
.Community_Nav_1 {
    border-bottom: 1px solid #b4b4b4;
    background-color: #f3f3f3;
    padding: 0 2.876rem;
}
.Community_Nav_1 ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: justify;
    text-align-last: justify;
}
.Community_Nav_1 li {
    display: inline-block;
}
.Community_Nav_1 li.Nav1_on a {
    color: #50528e;
    position: relative;
}
.Community_Nav_1 li.Nav1_on a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #50528e;
}
.Community_Nav_1 li a {
    display: block;
    line-height: 2.5rem;
    height: 2.5rem;
    font-size: 20px;
    font-weight: bold;
    color: #cfcfcf;
    text-decoration: none;
}

/* Nav_2 => 학교, 교수님, 학과 */
.Community_Nav_2 {
    border-bottom: 1px solid #b4b4b4;
    background-color: #f3f3f3;
    padding: 0 3.125rem;
}
.Community_Nav_2 ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: justify;
    text-align-last: justify;
}
.Community_Nav_2 li {
    display: inline-block;
}
.Community_Nav_2 li.Nav2_on a {
    color: #50528e;
    position: relative;
}
.Community_Nav_2 li.Nav2_on a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #50528e;
}
.Community_Nav_2 li a {
    display: block;
    line-height: 2.5rem;
    height: 2.5rem;
    font-size: 18px;
    font-weight: bold;
    color: #cfcfcf;
    text-decoration: none;
}

.list-group {
    list-style: none;
    margin-bottom: 58px;
}
.list-group div {
    border-bottom: 2px solid #cfcfcf;
}
.list-group li {
    padding: 0.5rem 0.5rem;
    margin-bottom: 5px;
}
.list-group li a {
    color: #000;
    text-decoration-line: none;
}
