/* 학교 공지사항
SchoolNotice */

body {
	margin: 0;
}
section div {
	padding-bottom: 1rem;
}

section {
	padding: 5.5rem 1rem 0 1rem;
}
.edit-comment {
	padding-bottom: 60px;
}
.comment {
	padding: 2rem 1rem 8rem 1rem;
}
.comment ul {
	list-style: none;
}
.comment ul {
	padding-top: 30px;
}
.writeday {
	border-bottom: 1px solid #cfcfcf;
}
.content {
	padding-top: 1rem;
	border-bottom: 3px solid #707070;
}
